p, div {
    color: green;

}

#name{
    color: aqua;
}

.blabla{
    color: red;
}

li > a {
    color: red;
}

ul a {
    color: green;
}

/* selektor bliskiego rodzeństwa*/

h2 + h3 {
    color: yellow;
}

/* selektor rodzeństwa*/

h4 ~ p {
    color: chocolate;
}

/* selektor wykluczający*/

ul > li:not(.wykl) {
    color: aqua
}

/* selektor kolejnego elemntu potomnego */

ul > ol:nth-child(3) {
    color: brown
}