p, div {
    color: green;

}

#name{
    color: aqua;
}

.blabla{
    color: red;
}

li > a {
    color: red;
}

ul a {
    color: green;
}

/* selektor bliskiego rodzeństwa*/

h2 + h3 {
    color: yellow;
}

/* selektor rodzeństwa*/

h4 ~ p {
    color: chocolate;
}